body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Roboto, sans-serif;
    margin: 0;
    line-height: 1.5;
    letter-spacing: 0.009375rem;
    padding: 0;
    overflow-y: scroll;
    text-align: center;
    font-size: 150%;
    background-color: gray;
}
main {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 1000px;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

#navigointi ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    background-color: #252627;
}

#navigointi {
    white-space: nowrap;
}

#navigointi ul li {
    list-style-type: none;
    display: flex;
}

#navigointi ul li {
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
    font-size:100%;
    color:white;
    letter-spacing: 0.6px;
    text-shadow: 0.3px 0.3px;
    font-weight: 400;
}

#pikiNappi {
    width: 30%;
    height: 20%;
    border-radius: 60px;
}
#pikiNappi {
    display: inline-block;
    padding: 5px 5px;
    font-size: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
#pikiNappi:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    color: white;
    text-align: center;
}
.footer button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.footer button:hover {background-color: green;}
.footer button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    width: auto; /* Could be more or less, depending on screen size */
  }

.btn-group .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: auto;
    display: block;
  }
  
  .btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  .btn-group .button:hover {
    background-color: #3e8e41;
}


.upgrade-menu {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.upgrade-menu h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.upgrade-menu ul {
  list-style-type: none;
  padding: 0;
}

.upgrade-menu li {
  margin-bottom: 10px;
}

.upgrade-name {
  font-weight: bold;
}

.upgrade-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.upgrade-button:hover {
  background-color: #45a049;
}